@import url("header.css");
@import url("navbar.css");
@import url("footer.css");

body {
	background-color: #1c1b1d;
	font-family: 'Source Sans Pro';
	width: 70%;
	margin: auto;
}

.container {
	display: grid;
	grid-template-columns: 48% 48%;
	column-gap: 4%;
	row-gap: 2%;
	padding: 20px 0px 50px 0px;
}

.card {
	background-color: #fff;
	color: #1a1a1a;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.034), 0 4px 4px rgba(0, 0, 0, 0.05);
}

.card-title {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.card-image {
	max-width: 100%;
	border: 0;
	height: auto;
	vertical-align: middle;
}

.card-date {
	color: #6e6e6e;
}

.card-text {
	margin-top: 10px;
}

mark {
	font-size: 0.7em;
	background-color: #e4e4e4b2;
	color: #666;
	padding: 1px 4px 3px 4px;
	border-radius: 5px;
}

.card-link {
	text-align: right;
	font-size: 1.1em;
}

a {
	color: #14acc0;
}

/* MEDIA QUERIES min-width: 768px, max-width: 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		width: 90%;
		margin: 0 auto;
		padding: 0px 20px 0px 20px;
	}

	.container {
		display: grid;
		grid-template-columns: 50% 50%;
		column-gap: 10px;
		row-gap: 20px;
		padding: 20px 0px 20px 0px;
	}
}

/* MEDIA QUERIES max-width: 767px */
@media screen and (max-width: 767px) {
	body {
		width: 90%;
		margin: 0 auto;
		padding: 0px 15px 0px 15px;
	}

	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 20px 0px 20px 0px;
		margin: 0 auto;
	}
}
